/************ FONTS ************/
@font-face {
    font-family: 'Marquee Moon';
    src: url('https://amazing-gates-b18469.netlify.com/moon-webfont.eot');
    src: url('https://amazing-gates-b18469.netlify.com/moon-webfont.eot?#iefix') format('embedded-opentype'), url('https://amazing-gates-b18469.netlify.com/fonts/moon-webfont.woff2') format('woff2'), url('https://amazing-gates-b18469.netlify.com/fonts/moon-webfont.woff') format('woff'), url('https://amazing-gates-b18469.netlify.com/fonts/moon-webfont.svg#moon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Demode';
    src: url('https://amazing-gates-b18469.netlify.com/fonts/demode-webfont.eot');
    src: url("https://amazing-gates-b18469.netlify.com/fonts/demode-webfont.woff") format("woff"),
         url("https://amazing-gates-b18469.netlify.com/fonts/demode-webfont.woff2") format("woff2"), 
         url("https://amazing-gates-b18469.netlify.com/fonts/demode-webfont.svg") format("svg"),
         url("https://amazing-gates-b18469.netlify.com/fonts/Demode.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/************ GENERAL ************/

body {
    background-image: linear-gradient(to bottom right, #262626, #111);
    font-family: 'Montserrat', sans-serif;
    color: #ccc;
}

html {
    scroll-behavior: smooth;
}

.btn-link {
    font-size: 1.2rem;
}
/************ NAVBAR - GENERAL ************/
.nav-item a {
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    transition: .4s ease;
}

/*.nav-item a:hover:not(.navbar-crew), .nav-item a.nav-active:not(.navbar-crew) {
    color: #ffc307 !important;
    text-shadow: 1px 1px 0 rgb(165,123,26),2px 2px 0 rgb(242,185,100),3px 3px 0 rgb(227,167,187),4px 4px 0 rgb(182,129,63),5px 5px 0 rgb(161,117,50),6px 6px 0 rgb(144,103,39),7px 7px 0 rgb(130,91,31),8px 8px 0 rgb(120,83,25),9px 9px 0 rgb(108,73,20),10px 10px 0 rgb(93,63,13),11px 11px 0 rgb(60,54,12),12px 12px 0 rgb(63,41,8);
    transform: translate(0px, -6px);
    font-weight: 700;
}*/

.navbar {
    /* Old (1T9): background-color: #01415C;*/
    background-color: rgba(239, 0, 209, 1);
    box-shadow: rgba(0,0,0,0.3) 0px 2px 8px;
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0.4s linear;
    /*font-weight: 900;*/
}

.navbar.scrolled {
    background-color: rgba(32, 32, 32, 0.95);
    box-shadow: rgba(0,0,0,0.3) 0px 2px 8px;
    transition: 0.2s linear;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

/************ HEADERS ************/
.main-title {
    font-family: 'Demode', Montserrat, sans-serif;
    font-size: 6em;
}
.main-title2 {
    font-family: 'Marquee Moon', Montserrat, sans-serif;
    font-size: 8em;
}

.group-title {
    font-family: 'Marquee Moon', Montserrat, sans-serif;
    font-size: 5em;
}

.jumbotron {
    color: rgb(33, 37, 41);
    background-image: linear-gradient(to bottom right, rgba(239, 0, 209, 0.95), #FAAD3D);
    font-family: Demode, Montserrat, sans-serif;
}

/************ ACCORDION ************/
.btn-link {
    color: #FF00A1;
    transition: 200ms ease;
}

.btn-link:hover {
    color: #FED104;
    transition: 200ms ease;
}

/************ NEON ************/

.pink-neon-title-on {
    animation: flash-neon-pink 2s 1s ease 1;
    -webkit-animation: flash-neon-pink 2s 1s ease 1;

    text-shadow: -.075vw 0vw .075vw #FE00E7, 
                -.1125vw 0vw .15vw #FE00E7, 
                -.15vw 0vw .15vw #FE00E7, 
                -.075vw 0vw 2.25vw #EE00D1, 
                -.15vw 0vw 2.25vw #EE00D1, 
                -.3vw 0vw 2.25vw #A9015E, 
                -.075vw 0vw 3.75vw #A9015E, 
                -.15vw 0vw 3.75vw #8F0130, 
                -.3vw 0vw .6vw #8F0130, 
                .15vw 0vw 7.5vw #8F0130;
    color: #FF00A1;
}

@keyframes flash-neon-pink {
    8%, 43%, 57%, 67%, 76%, 81%, 86%, 90.5%, 93%, 95.5%, 98% {
        text-shadow: -.075vw 0vw .075vw #6D0564, 
                     -.1125vw 0vw .15vw #6D0564, 
                     -.15vw 0vw .15vw #6D0564, 
                     -.075vw 0vw 2.25vw #68055C, 
                     -.15vw 0vw 2.25vw #68055C, 
                     -.3vw 0vw 2.25vw #4F042E, 
                     -.075vw 0vw 3.75vw #4F042E, 
                     -.15vw 0vw 3.75vw #3F0418, 
                     -.3vw 0vw .6vw #3F0418, 
                     .15vw 0vw 7.5vw #3F0418;
        color: #6D0564;
    }

    0%, 40%, 55%, 65%, 75%, 80%, 85%, 90%, 92.5%, 95%, 97.5%, 100% {
         text-shadow: -.075vw 0vw .075vw #FE00E7, 
                     -.1125vw 0vw .15vw #FE00E7, 
                     -.15vw 0vw .15vw #FE00E7, 
                     -.075vw 0vw 2.25vw #EE00D1, 
                     -.15vw 0vw 2.25vw #EE00D1, 
                     -.3vw 0vw 2.25vw #A9015E, 
                     -.075vw 0vw 3.75vw #A9015E, 
                     -.15vw 0vw 3.75vw #8F0130, 
                     -.3vw 0vw .6vw #8F0130, 
                     .15vw 0vw 7.5vw #8F0130;
        color: #FF00A1;
    }
}

@-webkit-keyframes flash-neon-pink {
    8%, 43%, 57%, 67%, 76%, 81%, 86%, 90.5%, 93%, 95.5%, 98% {
        text-shadow: -.075vw 0vw .075vw #6D0564, -.1125vw 0vw .15vw #6D0564, -.15vw 0vw .15vw #6D0564, -.075vw 0vw 2.25vw #68055C, -.15vw 0vw 2.25vw #68055C, -.3vw 0vw 2.25vw #4F042E, -.075vw 0vw 3.75vw #4F042E, -.15vw 0vw 3.75vw #3F0418, -.3vw 0vw .6vw #3F0418, .15vw 0vw 7.5vw #3F0418;
        color: #6D0564;
    }

    0%, 40%, 55%, 65%, 75%, 80%, 85%, 90%, 92.5%, 95%, 97.5%, 100% {
        text-shadow: -.075vw 0vw .075vw #FE00E7, -.1125vw 0vw .15vw #FE00E7, -.15vw 0vw .15vw #FE00E7, -.075vw 0vw 2.25vw #EE00D1, -.15vw 0vw 2.25vw #EE00D1, -.3vw 0vw 2.25vw #A9015E, -.075vw 0vw 3.75vw #A9015E, -.15vw 0vw 3.75vw #8F0130, -.3vw 0vw .6vw #8F0130, .15vw 0vw 7.5vw #8F0130;
        color: #FF00A1;
    }
}

.pink-neon-box-on {
    box-shadow: -.075vw 0vw .075vw #FE00E7, 
                 -.1125vw 0vw .15vw #FE00E7, 
                 -.15vw 0vw .15vw #FE00E7, 
                 -.075vw 0vw 2.25vw #EE00D1, 
                 -.15vw 0vw 2.25vw #EE00D1, 
                 -.3vw 0vw 2.25vw #A9015E, 
                 -.075vw 0vw 3.75vw #A9015E, 
                 -.15vw 0vw 3.75vw #8F0130, 
                 -.3vw 0vw .6vw #8F0130, 
                 .15vw 0vw 7.5vw #8F0130;
    background-color: #FF00A1;
}


.yellow-neon-title-on {
    animation: flash-neon-yellow 2s 2s ease 1;
    -webkit-animation: flash-neon-yellow 2s 1s ease 1;
    
    text-shadow: -.075vw 0vw .075vw #FFFF00, 
                -.1125vw 0vw .15vw #FFFF00, 
                -.15vw 0vw .15vw #FFFF00, 
                -.075vw 0vw 2.25vw #FAAD3D, 
                -.15vw 0vw 2.25vw #FAAD3D, 
                -.3vw 0vw 2.25vw #CDC123, 
                -.075vw 0vw 3.75vw #CDC123, 
                -.15vw 0vw 3.75vw #937935, 
                -.3vw 0vw .6vw #937935, 
                .15vw 0vw 7.5vw #937935;
    color: #FED104;
}

@keyframes flash-neon-yellow {
    8%, 43%, 57%, 67%, 76%, 81%, 86%, 90.5%, 93%, 95.5%, 98% {
        text-shadow: -.075vw 0vw .075vw #7A7A06, 
                     -.1125vw 0vw .15vw #7A7A06, 
                     -.15vw 0vw .15vw #7A7A06, 
                     -.075vw 0vw 2.25vw #755123, 
                     -.15vw 0vw 2.25vw #755123, 
                     -.3vw 0vw 2.25vw #605A17, 
                     -.075vw 0vw 3.75vw #605A17, 
                     -.15vw 0vw 3.75vw #44391B, 
                     -.3vw 0vw .6vw #44391B, 
                     .15vw 0vw 7.5vw #44391B;
        color: #7F6908;
    }

    0%, 40%, 55%, 65%, 75%, 80%, 85%, 90%, 92.5%, 95%, 97.5%, 100% {
        text-shadow: -.075vw 0vw .075vw #FFFF00, 
                    -.1125vw 0vw .15vw #FFFF00, 
                    -.15vw 0vw .15vw #FFFF00, 
                    -.075vw 0vw 2.25vw #FAAD3D, 
                    -.15vw 0vw 2.25vw #FAAD3D, 
                    -.3vw 0vw 2.25vw #CDC123, 
                    -.075vw 0vw 3.75vw #CDC123, 
                    -.15vw 0vw 3.75vw #937935, 
                    -.3vw 0vw .6vw #937935, 
                    .15vw 0vw 7.5vw #937935;
        color: #FED104;
    }
}

@-webkit-keyframes flash-neon-yellow {
    8%, 43%, 57%, 67%, 76%, 81%, 86%, 90.5%, 93%, 95.5%, 98% {
        text-shadow: -.075vw 0vw .075vw #7A7A06, -.1125vw 0vw .15vw #7A7A06, -.15vw 0vw .15vw #7A7A06, -.075vw 0vw 2.25vw #755123, -.15vw 0vw 2.25vw #755123, -.3vw 0vw 2.25vw #605A17, -.075vw 0vw 3.75vw #605A17, -.15vw 0vw 3.75vw #44391B, -.3vw 0vw .6vw #44391B, .15vw 0vw 7.5vw #44391B;
        color: #7F6908;
    }

    0%, 40%, 55%, 65%, 75%, 80%, 85%, 90%, 92.5%, 95%, 97.5%, 100% {
        text-shadow: -.075vw 0vw .075vw #FFFF00, -.1125vw 0vw .15vw #FFFF00, -.15vw 0vw .15vw #FFFF00, -.075vw 0vw 2.25vw #FAAD3D, -.15vw 0vw 2.25vw #FAAD3D, -.3vw 0vw 2.25vw #CDC123, -.075vw 0vw 3.75vw #CDC123, -.15vw 0vw 3.75vw #937935, -.3vw 0vw .6vw #937935, .15vw 0vw 7.5vw #937935;
        color: #FED104;
    }
}

.yellow-neon-box-on {
    box-shadow: -.075vw 0vw .075vw #FFFF00, 
                -.1125vw 0vw .15vw #FFFF00, 
                -.15vw 0vw .15vw #FFFF00, 
                -.075vw 0vw 2.25vw #FAAD3D, 
                -.15vw 0vw 2.25vw #FAAD3D, 
                -.3vw 0vw 2.25vw #CDC123, 
                -.075vw 0vw 3.75vw #CDC123, 
                -.15vw 0vw 3.75vw #937935, 
                -.3vw 0vw .6vw #937935, 
                .15vw 0vw 7.5vw #937935;
    background-color: #FED104;
}

/*  UNUSED NEON:
.orangered-neon-title-on {
    text-shadow: -.1vw 0vw .1vw #FED128, 
                 -.15vw 0vw .2vw #FED128, 
                 -.2vw 0vw .2vw #FED128, 
                 -.1vw 0vw 3vw #F0130B, 
                 -.2vw 0vw 3vw #F0130B, 
                 -.4vw 0vw 3vw #F0130B, 
                 -.1vw 0vw 5vw #F0130B, 
                 -.2vw 0vw 5vw #F0130B, 
                 -.4vw 0vw .8vw #F0130B, 
                 .2vw 0vw 10vw #F0130B;
    color: #FED128;

}
    
.orangered-neon-title-off {
    text-shadow: -.1vw 0vw .1vw #705C12,
                 -.15vw 0vw .2vw #705C12, 
                 -.2vw 0vw .2vw #705C12, 
                 -.1vw 0vw .1vw #5C0704, 
                 -.2vw 0vw .1vw #5C0704, 
                 -.4vw 0vw .1vw #5C0704, 
                 -.1vw 0vw .2vw #5C0704, 
                 -.2vw 0vw .2vw #5C0704, 
                 -.4vw 0vw .2vw #5C0704, 
                 .2vw 0vw .5vw #5C0704;
    color: #705C12;

}

.orangered-neon-box-on {
    box-shadow: -.1vw 0vw .1vw #FED128, 
                 -.15vw 0vw .2vw #FED128, 
                 -.2vw 0vw .2vw #FED128, 
                 -.1vw 0vw 3vw #F0130B, 
                 -.2vw 0vw 3vw #F0130B, 
                 -.4vw 0vw 3vw #F0130B, 
                 -.1vw 0vw 5vw #F0130B, 
                 -.2vw 0vw 5vw #F0130B, 
                 -.4vw 0vw .8vw #F0130B, 
                 .2vw 0vw 10vw #F0130B;
    background-color: #FED128;
}*/



/******* OTHER DEMO'D PAGES - NOT USED ***********/    
/************ CREW ************/
/*.crew {
    color: #ccc;
}

.navbar-crew {
    background-color: rgba(239, 0, 209, 1);
    box-shadow: rgba(0,0,0,0.3) 0px 2px 4px;
    transition: 0.4s ease;
}

.crew .jumbotron-people {
    color: rgb(33, 37, 41);
    background-image: linear-gradient(to bottom right, rgba(239, 0, 209, 0.95), #FAAD3D);
    font-family: Demode, Montserrat, sans-serif;
}*/
/************ BAND ************/
/*
.band {
    background-image: linear-gradient(to bottom right, #FAAD3D, rgba(239, 0, 209, 0.95));
}

.navbar-band {
    background-color: rgba(32, 32, 32, 0.95);
}

.band .header {
}

.band .header h1 {
    font-family: Laquatsa, sans-serif;
}*/